{{!< default}}


{{#post}}

{{> jumbotron}}

<div class="container">
    <div class="row">
        <section class="col-sm-8">
            <article class="{{post_class}}">
                <section class="post-content">
                    {{#if image}}<img src="{{image}}" alt="Post image" />{{/if}}
                    {{content}}
                </section>
            </article>
        </section>
        <div class="col-sm-4">
            {{!-- {{> sidebar}} --}}
        </div>
    </div>

</div>

{{/post}}