
{{#has tag="speaking"}}
<div class="jumbotron jumbotron-black text-sm-center">
  <h1 class="display-3">Speaking</h1>
  <p class="lead lead-sm-width">I deliver talks on web development and other technology concepts focused on software engeineering.</p>
</div>
{{/has}}

{{#has tag="about"}}
<div class="jumbotron jumbotron-black text-sm-center">
  <h1 class="display-3">About</h1>
  <p class="lead lead-sm-width">Hey, I'm Steven Natera, I write this blog, speak at events, serve as a CTO for a few startups, and am an entrepreneurial software engineer.</p>
</div>
{{/has}}

{{#has tag="contact"}}
<div class="jumbotron jumbotron-black text-sm-center">
  <h1 class="display-3">Contact</h1>
  <p class="lead lead-sm-width">Let connect! Here's how I communicate on different platforms and how best to reach me.</p>
</div>
{{/has}}

