<aside class="blog-sidebar">

    {{!
        Sidebar contains widgets for both main blog and dev blog.
        They are conditionally shown/hidden via code injection.
    }}

    <div id="">
        <form id="subscribeForm" class="">
          <div class="">
            <p>Join hundreds of subscribers to get content first!</p>
            <input type="text" class="" id="subcriptionInput" placeholder="Email Address">
          </div>
          <button type="submit" class="">Subcribe</button>
        </form>
    </div>


</aside>
