<footer class="container-fluid footer-bottom text-xs-center">
    <div class="row">
        <div class="col-sm-12">
            <h6>© 2017 Steven Natera</h6>
            <p>Published with <a href="https://ghost.org/">Ghost</a></p>
        </div>
    </div>
</footer>