<div>
    <form id="subscribeForm" class="form-inline">
      <p>Join hundreds of subscribers to get content first!</p>
      <div class="form-group">
        <input type="text" class="form-control" id="subcriptionInput" placeholder="Email Address">
      </div>
      <button type="submit" class="btn btn-primary">Subcribe</button>
    </form>
</div>