





.navbar-white {
  color: #000;
  border-bottom: 2px solid #efefef;
}
.navbar-white a {
  color: #000;
}


.jumbotron-black {
  color: #fff;
  background: #000;
  border-radius: 0px;
}

.jumbotron-post {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 320px;
  border-radius: 0px;

}

.lead {
  display: inline-block;
}

.lead-sm-width {
  width: 80%;
}


.post-item {
  border-bottom: 1px solid #efefef;
  padding: 20px;
}


.post-header {
  padding: 40px;
}

.post-header a {
  color: #000;
}

.post-content {
  padding-bottom: 40px;
  border-bottom: 1px solid #efefef;

}

.author {
  border-bottom: 1px solid #efefef;
  padding: 10px;
  margin-top: 12px;
}

.author-img {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-right: 20px;
}


#subscribeForm {
  border-bottom: 1px solid #efefef;
  padding: 10px;
  text-align: center;
}



.read-next {
  padding-top: 20px;
}





.footer-bottom {
  color: #fff;
  padding: 40px;
  margin-top: 40px;
  background-color: #000;
  /*background-color: #2e3234;*/
}